# pylint: skip-file
# mypy: ignore-errors
# This is a configuration file for Coverage; do not treat as Python code.
[run]
branch = true
source = app, run.py
omit =
    tests/*
relative_files = false
parallel = true
concurrency = multiprocessing

[report]
show_missing = true
skip_covered = true

[paths]
source =
    app
    /app
    {toxinidir}/app

[xml]
output = coverage.xml
