# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
.idea/
workspace.xml

# Swift Package Manager
.swiftpm
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Firebase
GoogleService-Info.plist

# Temporary files
*.temp
*.tmp
*.swp
*.swo
*.DS_Store

# Archives
*.xcarchive

# Code coverage
*.gcno
*.gcda
*.gcov
*.profdata

# Visual Studio Code
.vscode/
*.code-workspace
*.log

# Other
*.log
*.orig
